DB_HOST=DESKTOP-6VK5D6D
DB_PORT=1433
DB_NAME=gestionsalud
DB_AUTH=windows
DB_USER=DESKTOP-6VK5D6D\kenne          # solo el usuario, sin dominio
DB_PASSWORD=           # déjalo vacío
DB_DOMAIN=DESKTOP-6VK5D6D
JWT_SECRET=define_un_secreto_seguro
JWT_EXPIRES_IN=1h
MAIL_HOST=smtp.tu-proveedor.com
MAIL_PORT=587
MAIL_USER=tu_usuario
MAIL_PASSWORD=tu_password
MAIL_FROM="Gestion Salud <no-reply@gestionsalud.com>"
